palette/sms.wsdl_SendSmsBinding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SendSmsImplService" targetNamespace="http://www.csapi.org/wsdl/parlayx/sms/send/v2_2/interface" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://www.csapi.org/schema/parlayx/sms/send/v2_2/local" xmlns:ns2="http://www.csapi.org/schema/parlayx/common/v2_1" xmlns:ns3="http://www.csapi.org/schema/parlayx/sms/v2_2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.csapi.org/wsdl/parlayx/sms/send/v2_2/interface" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xs:schema targetNamespace="http://www.csapi.org/schema/parlayx/sms/send/v2_2/local" version="1.0" xmlns:ns1="http://www.csapi.org/schema/parlayx/common/v2_1" xmlns:ns2="http://www.csapi.org/schema/parlayx/sms/v2_2" xmlns:tns="http://www.csapi.org/schema/parlayx/sms/send/v2_2/local" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.csapi.org/schema/parlayx/common/v2_1"/>
            <xs:import namespace="http://www.csapi.org/schema/parlayx/sms/v2_2"/>
            <xs:element name="getSmsDeliveryStatus" nillable="true" type="tns:getSmsDeliveryStatus"/>
            <xs:element name="getSmsDeliveryStatusResponse" nillable="true" type="tns:getSmsDeliveryStatusResponse"/>
            <xs:element name="sendSms" nillable="true" type="tns:sendSms"/>
            <xs:element name="sendSmsLogo" nillable="true" type="tns:sendSmsLogo"/>
            <xs:element name="sendSmsLogoResponse" nillable="true" type="tns:sendSmsLogoResponse"/>
            <xs:element name="sendSmsResponse" nillable="true" type="tns:sendSmsResponse"/>
            <xs:element name="sendSmsRingtone" nillable="true" type="tns:sendSmsRingtone"/>
            <xs:element name="sendSmsRingtoneResponse" nillable="true" type="tns:sendSmsRingtoneResponse"/>
            <xs:complexType name="sendSms">
                <xs:sequence>
                    <xs:element form="qualified" maxOccurs="unbounded" name="addresses" type="xs:anyURI"/>
                    <xs:element form="qualified" minOccurs="0" name="senderName" type="xs:string"/>
                    <xs:element form="qualified" maxOccurs="unbounded" name="charging" type="ns1:ChargingInformation"/>
                    <xs:element form="qualified" name="message" type="xs:string"/>
                    <xs:element form="qualified" minOccurs="0" name="receiptRequest" type="ns1:SimpleReference"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendSmsResponse">
                <xs:sequence>
                    <xs:element form="qualified" name="result" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendSmsRingtone">
                <xs:sequence>
                    <xs:element form="qualified" maxOccurs="unbounded" name="addresses" type="xs:anyURI"/>
                    <xs:element form="qualified" minOccurs="0" name="senderName" type="xs:string"/>
                    <xs:element form="qualified" minOccurs="0" name="charging" type="ns1:ChargingInformation"/>
                    <xs:element form="qualified" name="ringtone" type="xs:string"/>
                    <xs:element form="qualified" name="smsFormat" type="ns2:SmsFormat"/>
                    <xs:element form="qualified" minOccurs="0" name="receiptRequest" type="ns1:SimpleReference"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendSmsRingtoneResponse">
                <xs:sequence>
                    <xs:element form="qualified" name="result" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendSmsLogo">
                <xs:sequence>
                    <xs:element form="qualified" maxOccurs="unbounded" name="addresses" type="xs:anyURI"/>
                    <xs:element form="qualified" minOccurs="0" name="senderName" type="xs:string"/>
                    <xs:element form="qualified" minOccurs="0" name="charging" type="ns1:ChargingInformation"/>
                    <xs:element form="qualified" name="image" type="xs:base64Binary"/>
                    <xs:element form="qualified" name="smsFormat" type="ns2:SmsFormat"/>
                    <xs:element form="qualified" minOccurs="0" name="receiptRequest" type="ns1:SimpleReference"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendSmsLogoResponse">
                <xs:sequence>
                    <xs:element form="qualified" name="result" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getSmsDeliveryStatus">
                <xs:sequence>
                    <xs:element form="qualified" name="requestIdentifier" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getSmsDeliveryStatusResponse">
                <xs:sequence>
                    <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="result" type="ns2:DeliveryInformation"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema targetNamespace="http://www.csapi.org/schema/parlayx/sms/v2_2" version="1.0" xmlns:tns="http://www.csapi.org/schema/parlayx/sms/v2_2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="DeliveryInformation">
                <xs:sequence>
                    <xs:element name="address" type="xs:anyURI"/>
                    <xs:element name="deliveryStatus" type="tns:DeliveryStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="SmsFormat">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Ems"/>
                    <xs:enumeration value="SmartMessaging"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="DeliveryStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="DeliveredToNetwork"/>
                    <xs:enumeration value="DeliveryUncertain"/>
                    <xs:enumeration value="DeliveryImpossible"/>
                    <xs:enumeration value="MessageWaiting"/>
                    <xs:enumeration value="DeliveredToTerminal"/>
                    <xs:enumeration value="DeliveryNotificationNotSupported"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="token" type="xs:string"/>
        </xs:schema>
        <xs:schema targetNamespace="http://www.csapi.org/schema/parlayx/common/v2_1" version="1.0" xmlns:tns="http://www.csapi.org/schema/parlayx/common/v2_1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="PolicyException" nillable="true" type="tns:PolicyException"/>
            <xs:element name="ServiceException" nillable="true" type="tns:ServiceException"/>
            <xs:complexType name="ChargingInformation">
                <xs:sequence>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="currency" type="xs:string"/>
                    <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="code" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SimpleReference">
                <xs:sequence>
                    <xs:element name="endpoint" type="xs:anyURI"/>
                    <xs:element name="interfaceName" type="xs:string"/>
                    <xs:element name="correlator" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PolicyException">
                <xs:sequence>
                    <xs:element name="messageId" type="xs:string"/>
                    <xs:element name="text" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="variables" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceException">
                <xs:sequence>
                    <xs:element name="messageId" type="xs:string"/>
                    <xs:element name="text" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="variables" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="PolicyException">
        <part element="tns:PolicyException" name="PolicyException"/>
    </message>
    <message name="SendSms_getSmsDeliveryStatus">
        <part element="ns1:getSmsDeliveryStatus" name="getSmsDeliveryStatus"/>
    </message>
    <message name="SendSms_sendSmsRingtone">
        <part element="ns1:sendSmsRingtone" name="sendSmsRingtone"/>
    </message>
    <message name="SendSms_sendSmsLogo">
        <part element="ns1:sendSmsLogo" name="sendSmsLogo"/>
    </message>
    <message name="SendSms_sendSms">
        <part element="ns1:sendSms" name="sendSms"/>
    </message>
    <message name="ServiceException">
        <part element="tns:ServiceException" name="ServiceException"/>
    </message>
    <message name="SendSms_sendSmsResponse">
        <part element="ns1:sendSmsResponse" name="sendSmsResponse"/>
    </message>
    <message name="SendSms_sendSmsRingtoneResponse">
        <part element="ns1:sendSmsRingtoneResponse" name="sendSmsRingtoneResponse"/>
    </message>
    <message name="SendSms_getSmsDeliveryStatusResponse">
        <part element="ns1:getSmsDeliveryStatusResponse" name="getSmsDeliveryStatusResponse"/>
    </message>
    <message name="SendSms_sendSmsLogoResponse">
        <part element="ns1:sendSmsLogoResponse" name="sendSmsLogoResponse"/>
    </message>
    <message name="tokenKey">
        <part name="tokenVal" element="ns3:token"/>
    </message>
    <portType name="SendSms">
        <operation name="getSmsDeliveryStatus" parameterOrder="getSmsDeliveryStatus">
            <input message="tns:SendSms_getSmsDeliveryStatus"/>
            <output message="tns:SendSms_getSmsDeliveryStatusResponse"/>
            <fault message="tns:PolicyException" name="PolicyException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="sendSms" parameterOrder="sendSms">
            <input message="tns:SendSms_sendSms"/>
            <output message="tns:SendSms_sendSmsResponse"/>
            <fault message="tns:PolicyException" name="PolicyException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="sendSmsLogo" parameterOrder="sendSmsLogo">
            <input message="tns:SendSms_sendSmsLogo"/>
            <output message="tns:SendSms_sendSmsLogoResponse"/>
            <fault message="tns:PolicyException" name="PolicyException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="sendSmsRingtone" parameterOrder="sendSmsRingtone">
            <input message="tns:SendSms_sendSmsRingtone"/>
            <output message="tns:SendSms_sendSmsRingtoneResponse"/>
            <fault message="tns:PolicyException" name="PolicyException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
    </portType>
    <binding name="SendSmsBinding" type="tns:SendSms">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getSmsDeliveryStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
                <soap:header message="tns:tokenKey" part="tokenVal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="sendSms">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="sendSmsLogo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="sendSmsRingtone">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="SendSmsImplService">
        <port binding="tns:SendSmsBinding" name="SendSmsPort">
            <soap:address location="http://16.38.27.12:8080/gp/services/SendSmsPx21"/>
        </port>
    </service>
</definitions>